<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.anthony.facebook">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App.FacebookApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--Este meta es parte de la configuracion del SDK de facebook-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

         <!--  Este provider es para poder compartir contenido a facebook a travez de mi aplicacion
        vez ese numero grande 200117717218663 , recuerda que se tiene que cambiar con forme a tu id_facebook
        lo puesdes Obtener de @string/facebook_app_id -->
        <provider
            android:authorities="com.facebook.app.FacebookContentProvider200117717218663"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true">
        </provider>

        <activity android:name=".Activities.MainActivity"/>
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".SplashScreen.SplashActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
    </application>

</manifest>